<div class="px-4">
    <h1 class="mb-3">Categorieën en producten</h1>
    <div class="d-flex flex-row justify-content-between mb-3 w-100">
        <div class="flex-shrink-0">
            <button
                data-bs-toggle="modal"
                data-bs-target="#product-create-update-modal"
                class="btn btn-lg btn-primary"
            >
                <i class="bi bi-bookmark-plus"></i> Nieuw product toevoegen
            </button>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-auto px-1">
                    <label class="form-label"><strong>Filters</strong></label
                    ><br />
                    <button
                        class="btn btn-lg btn-outline-primary"
                        [disabled]="!filtersActive()"
                        (click)="clearFilters()"
                    >
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>
                <div class="col-3 px-1">
                    <label class="form-label">Categorie</label>
                    <select class="form-select form-control-lg">
                        <option
                            [selected]="true"
                            [value]="null"
                            (click)="setFilterCategory(null)"
                        >
                            Geen
                        </option>
                        <option
                            (click)="setFilterCategory(category.id)"
                            [selected]="category.id == this.filteredCategoryId"
                            *ngFor="
                                let category of getCategoryShortDtosSorted()
                            "
                            [value]="category.id"
                        >
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="col-3 px-1">
                    <label class="form-label">Product naam</label>
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Patat..."
                        [ngModel]="this.filteredProductName"
                        (ngModelChange)="this.setFilteredProductName($event)"
                    />
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let category of this.filteredCategories" class="mt-4">
        <div class="card shadow-sm">
            <h5 class="card-header">
                <i class="bi bi-tag-fill" [style.color]="category.colorHex"></i>
                {{ category.name }}

                <button
                    *ngIf="getProductsInCategorySorted(category.id)!.length > 1"
                    data-bs-toggle="modal"
                    class="btn btn-primary btn-sm ml-3"
                    (click)="this.openReorderProductsForCategory(category.id)"
                >
                    <i class="bi bi-list-ol"></i> Categorie volgorde veranderen
                </button>
            </h5>
            <div class="card-body p-0">
                <div
                    class="p-3"
                    *ngIf="
                        getProductsInCategorySorted(category.id)!.length == 0
                    "
                >
                    <span class="m-3"
                        >Er zijn geen producten in deze categorie of geen
                        producten matchen het filter
                    </span>
                </div>
                <table
                    *ngIf="
                        getProductsInCategorySorted(category.id)
                            ? getProductsInCategorySorted(category.id)!.length >
                              0
                            : false
                    "
                    class="table table-striped mb-0"
                >
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Prijs</th>
                            <th class="fit">Actief en zichtbaar</th>
                            <th>Meer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let product of getProductsInCategorySorted(
                                    category.id
                                )
                            "
                        >
                            <td>{{ product.name }}</td>
                            <td class="fit">{{ getPriceString(product) }}</td>
                            <td class="text-center">
                                <input
                                    type="checkbox"
                                    [checked]="product.active"
                                    disabled
                                />
                            </td>
                            <td class="fit">
                                <button
                                    type="button"
                                    data-bs-target="#enable-adaptions-modal"
                                    (click)="
                                        this.enableAdaptionModal!.setForProduct(
                                            product
                                        )
                                    "
                                    data-bs-toggle="modal"
                                    data-bs-dismiss="modal"
                                    class="btn btn-sm btn-outline-primary mr-2"
                                >
                                    Selecteer mogelijke aanpassingen
                                </button>
                                <button
                                    (click)="
                                        productCreateUpdateModal?.setProductToEdit(
                                            product
                                        )
                                    "
                                    data-bs-toggle="modal"
                                    data-bs-target="#product-create-update-modal"
                                    class="btn btn-sm btn-primary mr-2"
                                >
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button
                                    (click)="
                                        productArchiveModal?.setProductToArchive(
                                            product
                                        )
                                    "
                                    data-bs-toggle="modal"
                                    data-bs-target="#product-archive-modal"
                                    class="btn btn-sm btn-danger"
                                >
                                    <i class="bi bi-archive-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-enable-adaptions-modal></app-enable-adaptions-modal>
<app-product-archive-modal></app-product-archive-modal>
<app-product-create-update-modal></app-product-create-update-modal>
<app-reorder-modal
    [onApplySequenceInvoke]="this.onApplyReorderInvoke.bind(this)"
></app-reorder-modal>
