<div class="content-wrapper w-100">
    <app-order-panel
        (onAdaptionHoldEvent)="setProductOrderToEdit($event)"
        (onCurrentProductOrderClearEvent)="clearSelectedProduct()"
        [ngClass]="[
            'content',
            'order-panel-wrapper',
            'bg-light',
            'd-flex',
            'flex-column',
            'shadow'
        ]"
    ></app-order-panel>
    <app-control-panel
        (onNumpadValueChangedEvent)="onNumpadValueChangedEventInvoke($event)"
        (selectedCategory)="setSelectedCategory($event)"
        [ngClass]="[
            'content',
            'control-panel-wrapper',
            'p-3',
            'px-4',
            'bg-light',
            'd-flex',
            'flex-column',
            'shadow'
        ]"
    ></app-control-panel>
    <app-products-select-panel
        (onProductClickedEvent)="onProductClickedEventInvoke($event)"
        (onAdaptionClickedEvent)="onAdaptionClickedEventInvoke($event)"
        [selectedCategory]="this.selectedCategory"
        [selectedProduct]="this.getForProduct()"
    ></app-products-select-panel>
</div>
