<!-- Modal -->
<div
    class="modal fade"
    id="adaption-create-update-modal"
    tabindex="-1"
    aria-labelledby="adaptionCreateUpdateModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adaptionCreateUpdateModalLabel">
                    {{ getCreateUpdateModalTitle() }}
                </h5>
                <button
                    (click)="closeModal()"
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    id="adaptionCreateUpdateForm"
                    [formGroup]="createUpdateFormGroup"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="mb-3">
                        <label class="form-label">Naam:</label>
                        <input
                            id="adaptionName"
                            type="text"
                            formControlName="name"
                            class="form-control form-control-lg"
                            [ngClass]="{'is-valid': isAdaptionNameValid(), 'is-invalid': isAdaptionNameTouched() && !isAdaptionNameValid()}"
                            placeholder="Extra kaas"
                        />
                        <div class="invalid-feedback">Minimum naamlengte moet <strong>2</strong> zijn</div>
                    </div>

                    <label for="disabledTextInput" class="form-label"
                        >Prijs (€):</label
                    >
                    <input
                        id="name"
                        type="text"
                        formControlName="price"
                        class="form-control form-control-lg"
                        [ngClass]="{'is-valid': isPriceValid(), 'is-invalid': isPriceTouched() && !isPriceValid()}"
                        placeholder="0,00"
                    />
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-lg btn-secondary"
                    (click)="closeModal()"
                >
                    Sluiten
                </button>
                <button
                    type="submit"
                    form="adaptionCreateUpdateForm"
                    class="btn btn-lg btn-primary"
                    [disabled]="!isFormValid()"
                >
                    Opslaan
                </button>
            </div>
        </div>
    </div>
</div>
