<!-- Modal -->
<div
    class="modal fade"
    id="adaption-create-update-modal"
    tabindex="-1"
    aria-labelledby="adaptionCreateUpdateModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adaptionCreateUpdateModalLabel">
                    {{ getCreateUpdateModalTitle() }}
                </h5>
                <button
                    (click)="closeModal()"
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    id="adaptionCreateUpdateForm"
                    [formGroup]="createUpdateFormGroup"
                    (ngSubmit)="onSubmit()"
                >
                    <legend>Aanpassing data</legend>

                    <div class="mb-3">
                        <label class="form-label">Naam:</label>
                        <input
                            id="name"
                            type="text"
                            formControlName="name"
                            class="form-control"
                            placeholder="Extra kaas"
                        />
                    </div>

                    <label for="disabledTextInput" class="form-label"
                        >Prijs (€):</label
                    >
                    <input
                        id="name"
                        type="text"
                        formControlName="price"
                        class="form-control"
                        placeholder="0,00"
                    />
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="closeModal()"
                >
                    Sluiten
                </button>
                <button
                    type="submit"
                    form="adaptionCreateUpdateForm"
                    class="btn btn-primary"
                >
                    Opslaan
                </button>
            </div>
        </div>
    </div>
</div>
