<div class="content-wrapper w-100">
    <div class="sidebar bg-dark">
        <div
            class="
                d-flex
                flex-column
                align-items-center align-items-sm-start
                pt-2
                text-white
                min-vh-100
            "
        >
            <a
                href="/"
                class="
                    d-flex
                    align-items-center
                    text-white text-decoration-none
                "
            >
                <span class="fs-5 px-3 d-none d-sm-inline">Content Management</span>
            </a>
            <ul
                class="
                    nav nav-pills
                    flex-column
                    pt-3
                    align-items-center align-items-sm-start
                    w-100
                "
                id="menu"
            >
                <li class="nav-item w-100">
                    <a
                        routerLink="./categoriën"
                        class="nav-link align-middle px-3 my-1 text-white"
                    >
                        <span class="ms-1 d-none d-sm-inline"><i class="bi bi-tags-fill mr-2"></i> Categorieën</span>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a
                        routerLink="./producten"
                        class="nav-link align-middle px-3 my-1  text-white"
                    >
                        <span class="ms-1 d-none d-sm-inline"><i class="bi bi-diagram-3-fill mr-2"></i> Producten</span>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a
                        routerLink="./aanpassingen"
                        class="nav-link align-middle px-3 my-1 text-white"
                    >
                        <span class="ms-1 d-none d-sm-inline"><i class="bi bi-arrow-return-right mr-2"></i> Aanpassingen</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cms-content py-4">
        <router-outlet></router-outlet>
    </div>
</div>
