<div class="px-4">
    <h1 class="mb-3">Aanpassingen</h1>
    <div class="d-flex flex-row justify-content-between mb-3 w-100">
        <div class="flex-shrink-0">
            <button
            data-bs-toggle="modal"
            data-bs-target="#adaption-create-update-modal"
            class="btn btn-primary"
        >
            <i class="bi bi-bookmark-plus"></i> Nieuwe aanpassing toevoegen
        </button>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-auto px-1">
                    <label class="form-label"><strong>Filters</strong></label
                        ><br />
                        <button
                            class="btn btn-lg btn-outline-primary"
                            [disabled]="!filtersActive()"
                            (click)="clearFilters()"
                        >
                            <i class="bi bi-x-circle"></i>
                        </button>
                </div>
                <div class="col-3 px-1">
                    <label class="form-label">Aanpassing</label>
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Mayonaise..."
                        [ngModel]="this.filteredAdaptionName"
                        (ngModelChange)="this.setFilteredAdaptionName($event)"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <span class="text-muted" *ngIf="this.filteredAdaptions.length == 0">Er zijn nog geen aanpassingen aangemaakt</span>
            <table *ngIf="this.filteredAdaptions.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Aanpassing</th>
                        <th>Prijs</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adaption of this.filteredAdaptions">
                        <td>{{ adaption.name }}</td>
                        <td>{{ getPriceString(adaption) }}</td>
                        <td>
                            <button
                                type="button"
                                data-bs-target="#enable-adaptions-modal-reversed"
                                (click)="this.enableAdaptionReversedModal!.setForAdaption(adaption)"
                                data-bs-toggle="modal"
                                data-bs-dismiss="modal"
                                class="btn btn-outline-primary mr-2"
                            >
                                Selecteer gekoppelde producten
                            </button>
                            <button
                                (click)="
                                    adaptionCreateUpdateModal?.setAdaptionToEdit(
                                        adaption
                                    )
                                "
                                data-bs-toggle="modal"
                                data-bs-target="#adaption-create-update-modal"
                                class="btn btn-primary mr-2"
                            >
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button
                                (click)="
                                    adaptionArchiveModal?.setAdaptionToArchive(
                                        adaption
                                    )
                                "
                                data-bs-toggle="modal"
                                data-bs-target="#adaption-archive-modal"
                                class="btn btn-danger"
                            >
                                <i class="bi bi-archive-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-enable-adaptions-modal-reversed></app-enable-adaptions-modal-reversed>
<app-adaption-archive-modal></app-adaption-archive-modal>
<app-adaption-create-update-modal></app-adaption-create-update-modal>
